LASTFM_USER=AIpenglow
LASTFM_API_KEY=a915c0039f1fa3990e71cd0bac9569a3

# Optional: if you want to paste the full Last.fm endpoint directly,
# it will override LASTFM_USER and LASTFM_API_KEY.
LASTFM_ENDPOINT=LASTFM_ENDPOINT=https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=AIpenglow&api_key=a915c0039f1fa3990e71cd0bac9569a3&format=json&limit=1

